// Для импорта в диспетчер подключений: @import './src/blocks/page-header/page-header.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.page-header {
    display: flex;
    color: @text-color;
    flex-wrap: wrap;


    &__inner{
        .container();
    }
    
    &__contacts{
        @media(max-width: @screen-lg){
            display: none;
        }

        @media(min-width: @screen-lg){
            display: flex;
            flex-basis: 37%;
            flex-direction: column;
        }
    }
    .btn{
        @media(max-width: @screen-lg){
            display: none;
        }
    }

    &__phone-link{
        color: @text-color;
        font-size: @accent;
        font-family: @main-font;
        text-decoration: none;
        font-weight: bold;
        padding-top: 25px;
    }

    &__address{
        font-family: @text-font;
        font-size: @text-small;
        padding-top: 10px;
        color: @text-color;
    }
    &__main-logo{
    flex-basis: 75%;
    flex-grow: 3;
    text-align: center;
    justify-content: center;

    @media(min-width: @screen-lg){
            flex-basis: 10%;
            padding: 15px 0;
            flex-grow: 1;
            align-self: center;
        }

}
}
.main-nav{

    display: flex;
    flex-wrap: wrap;

    @media(min-width: @screen-lg){
            flex-basis: 37%;
            // line-height: 72px;
            padding-right: 80px;
            align-self: center;
        }

    &__item{
        font-family: @main-font;
        font-weight: 600;
        text-transform: uppercase;
        font-size: @text-small;
        line-height: 50px;


        list-style: none;

        text-align: center;

        @media(min-width: @screen-lg){
            padding: 0 10px;
        }

    }
    
    &__list{
        display: flex;
        flex-direction: column;
        width: 100%;

        // flex-basis: 100%;

        @media(min-width: @screen-lg){
            flex-direction: row;
        }
    }

    &__link{

        text-decoration: none;
        color: @darkest;
        
        &--active{

            text-decoration: none;
            color: @brand-color;
        }

        @media(min-width: @screen-lg){
            color: @darkest;
            text-decoration: none;
            font-size: @text-small;
            font-family: @text-font;
            font-weight: 600;

            &--active{
                text-decoration: none;
            }
        }
    }
    &__nav{
            display: none;

        @media(min-width: @screen-lg){
            display: flex;
            order: 2;
            flex-direction: row;
        }
    }
    
}

.phone-menu{
    display: flex;
    width: 100%;

    &__toggler{
        
        &-img{
            padding: 10px;
            cursor: pointer;
            width: 30px;
            height: 30px;
            flex-grow: 1;
            order: 1;
            }

        @media(min-width: @screen-lg){
            display: none;
        }

    }
}
.menu--open{
    display: block;
}
